.DS_Store
/system/resources
/system/.DS_Store
/system/config/config.php
/system/config/config.local.php
/system/config/config.prod.php
*.pyc
/bin/fabfile.py
/system/addons/apps/.DS_Store
/system/addons/.DS_Store
/system/core/