<li class="entry h-entry">
    
    <h2 class="hd-entry p-name wf"><a class="u-url" href="<perch:blog id="postURL" />" rel="bookmark" class="entry-title"><perch:blog id="postTitle" /></a></h2>

    <p class="entry-date entry-meta"><time class="dt-published" datetime="<perch:blog id="postDateTime" format="%Y-%m-%dT%H:%M+01:00" />"><perch:blog id="postDateTime" format="%d %B %Y" /></time></p>
    
    <div class="entry-summary entry-body p-summary wf">
    
    <perch:if exists="image">
    <figure class="entry-figure">
    <img src="<perch:blog id="image" type="image" width="800" crop="false" />" alt="<perch:blog id="postTitle" />" />
    </figure>
    </perch:if>
    
    <perch:if exists="excerpt">
    <perch:blog id="excerpt" type="textarea" markdown="true" />
    <p><a class="u-url" href="<perch:blog id="postURL" />">Read the whole post &quot;<perch:blog id="postTitle" />&quot;</a></p>
    
    <perch:else />
    <perch:if exists="postLedeHTML">
    <div class="lede">
        <perch:blog id="postLedeHTML" type="textarea" markdown="true" />
    </div>
    </perch:if>
    <perch:blog id="postDescHTML" type="textarea" markdown="true" />
    </perch:if>
    </div>
</li>